body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px 0px;
}

img {
    height: 200px;
}
nav {
    padding: 16px;
    color: rgb(7, 7, 7);
    border-bottom: 1px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

#taco-list-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

}

#taco-list1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#taco-list2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#taco-list3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

#taco-list4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}
#taco-list5{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#head{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

h1{
    color:green;
}

nav{
    background-color: orangered;

}

nav>a{
    color:white;
}

footer{
    background-color: rgb(199, 199, 98);
    padding: 20px 20px 20px 20px;
}

a{
    text-decoration: none;

}

h3>a{
    color:green;
}
